# UTF-8

VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(2, 0, 5, 0),
    prodvers=(2, 0, 5, 0),
    mask=0x3f,
    flags=0x0,
    OS=0x4,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
  ),
  kids=[
    StringFileInfo(
      [
      StringTable(
        u'040904B0',
        [StringStruct(u'CompanyName', u'Polsu Development'),
        StringStruct(u'FileDescription', u'Polsu Overlay'),
        StringStruct(u'FileVersion', u'2.0.6.0'),
        StringStruct(u'InternalName', u'Polsu Overlay'),
        StringStruct(u'LegalCopyright', u'Copyright © 2022 - 2024 Polsu Development'),
        StringStruct(u'OriginalFilename', u'Polsu Overlay.exe'),
        StringStruct(u'ProductName', u'Polsu'),
        StringStruct(u'ProductVersion', u'3.0.0')])
      ]
    ), 
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)
